<!DOCTYPE html>
<html>
 {{>head}}
  <body>
    {{>analytics}}
    <div class="page-wrapper">
      {{>header}}
      <section>
        <div class="page-content">
          <div class="wrapper">
            {{{body}}}
          </div>
        </div>
      </section>
      {{>footer}}
    </div>
  </body>
</html>
