<footer class="site-footer">

  <div class="wrapper">
    <ul>
      <li><p><a href="http://www.hetas.co.uk/consumer">HETAS approved stove installers</a>, Bristol, UK.</p></li>
      <li><p>Telephone: Dylan - 07843 272 752 or Nick - 07812 412 030</p></li>
      <li><p>© Independent Stove Installations. <a href="http://www.hetas.co.uk/consumer">HETAS approved stove installers</a>, Bristol, UK.</p></li>
      <li></li>
    </ul>
  </div>

</footer>

<script src="https://cdn.jsdelivr.net/gh/steventux/independent-stove-installations@1.1.0/public/js/lightbox-plus-jquery.min.js"></script>
<script type="text/javascript">
  if (location.pathname === '/' && Math.floor(Math.random()*2)) {
    $('.contact .inner p').last().detach().insertBefore('.contact .inner p').first();
  }
</script>
