<header class="site-header">

  <div class="wrapper">


    <div class="logo"><a class="site-title" href="/">Independent Stove Installations</a></div>

    <div class="hetas-approved"><a href="http://www.hetas.co.uk" target="_new" title="HETAS approved installers">Hetas approved installers</a></div>

    {{>navigation}}

  </div>

</header>
